.primary-button-lg {
  border-radius: 6px;
  padding: 8px 24px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(58,87,232,1);
  color: rgba(255,255,255,1);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  cursor: pointer;

}

.disable-button-lg {
  border-radius: 6px;
  padding: 8px 24px;

  box-sizing: border-box;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(138,146,166,1);
  color: rgba(255,255,255,1);

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  cursor: default;

}

.primary-button-lg:hover {
  opacity: 0.95;

}

.text-link-lg {

  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: rgba(113,113,113,1);

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  cursor: pointer;
}

.text-link-lg:hover {
  color: rgba(40,40,40,1);
}

.full-width {
  width: 100%;
}

.kakao-sign-in-button {
  width: 56px;
  height: 56px;

  background-image: url(assets/images/kakao-sign-in.png);

  background-position: 50% 50%;
  background-size: 100% 100%;

  cursor: pointer;
}

.naver-sign-in-button {
  width: 56px;
  height: 56px;

  background-image: url(assets/images/naver-sign-in.png);
  background-position: 50% 50%;
  background-size: 100% 100%;

  cursor: pointer;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 모든 input, select, textarea의 폰트 크기를 16px로 설정하여 자동 확대 방지 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
textarea,
select {
  font-size: 16px !important; /* 다른 스타일에 덮어씌워지지 않도록 !important 사용 */
}