#sign-up-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.sign-up-image {
    display: none; /* 모바일에서는 숨김 */
}

.sign-up-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
}

.sign-up-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 24px;
}

.sign-up-title {
    color: #404040;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}

.sign-up-content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.sign-up-content-sns-sign-in-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.sign-up-content-sns-sign-in-title {
    color: #8a92a6;
    font-weight: 400;
    font-size: 14px;
}

.sign-up-content-sns-sign-in-button-box {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.sign-up-content-divider {
    border-top: 1px solid #eeeeee;
    width: 100%;
}

.sign-up-content-input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sign-up-content-button-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}